<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	{{ if .Params.image }}
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:image" content="{{ .Params.image | absURL }}"/>
	<meta name="og:image" content="{{ .Params.image | absURL }}"/>
	{{ else }}
	<meta name="twitter:card" content="summary"/>
	{{ end }}
	<meta name="twitter:title" content="{{ .Title }}"/>
	<meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else if .IsPage }}{{ .Summary | plainify | truncate 160 }}{{ else }}{{ .Site.Params.description }}{{ end }}"/>
	<meta name="twitter:site" content="@glaforge"/>

	<meta property="og:title" content="{{ .Title }}"/>
	<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else if .IsPage }}{{ .Summary | plainify | truncate 160 }}{{ else }}{{ .Site.Params.description }}{{ end }}"/>
	<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}"/>
	<meta property="og:url" content="{{ .Permalink }}"/>

	<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
	<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else if .IsPage }}{{ .Summary | plainify | truncate 160 }}{{ else }}{{ .Site.Params.description }}{{ end }}">
	{{ with .Site.Params.author.name }}<meta name="author" content="{{ . }}">{{ else }}<meta name="author" content="{{ .Site.Title }}">{{ end }}

	<link rel="canonical" href="{{ if .Params.canonical }}{{ .Params.canonical }}{{ else }}{{ .Permalink }}{{ end }}">

	{{- $authorName := .Site.Params.author.name | default .Site.Title -}}
	{{- $sameAs := slice -}}
	{{- with .Site.Params.social.twitterURL -}}{{- $sameAs = $sameAs | append . -}}{{- end -}}
	{{- with .Site.Params.social.mastodonURL -}}{{- $sameAs = $sameAs | append . -}}{{- end -}}
	{{- with .Site.Params.social.blueskyURL -}}{{- $sameAs = $sameAs | append . -}}{{- end -}}
	{{- with .Site.Params.social.linkedinURL -}}{{- $sameAs = $sameAs | append . -}}{{- end -}}
	{{- with .Site.Params.social.githubURL -}}{{- $sameAs = $sameAs | append . -}}{{- end -}}
	{{- with .Site.Params.social.speakerdeckURL -}}{{- $sameAs = $sameAs | append . -}}{{- end -}}
	{{- $person := dict "@type" "Person" "@id" (printf "%s#person" .Site.BaseURL) "name" $authorName "url" (printf "%sabout/" .Site.BaseURL) "sameAs" $sameAs -}}
	{{- $website := dict "@type" "WebSite" "@id" (printf "%s#website" .Site.BaseURL) "url" .Site.BaseURL "name" .Site.Title "publisher" (dict "@id" (printf "%s#person" .Site.BaseURL)) -}}
	{{- $graph := slice $person $website -}}
	{{- if .IsPage -}}
		{{- $desc := "" -}}
		{{- if .Description -}}{{- $desc = .Description -}}{{- else -}}{{- $desc = .Summary | plainify | truncate 160 -}}{{- end -}}
		{{- $blogPosting := dict "@type" "BlogPosting" "@id" (printf "%s#blogposting" .Permalink) "headline" .Title "url" .Permalink "datePublished" (.Date.Format "2006-01-02T15:04:05-07:00") "author" (dict "@id" (printf "%s#person" .Site.BaseURL)) "description" $desc -}}
		{{- if .Params.image -}}
			{{- $blogPosting = merge $blogPosting (dict "image" (.Params.image | absURL)) -}}
		{{- end -}}
		{{- if not .Lastmod.IsZero -}}
			{{- $blogPosting = merge $blogPosting (dict "dateModified" (.Lastmod.Format "2006-01-02T15:04:05-07:00")) -}}
		{{- end -}}
		{{- $graph = $graph | append $blogPosting -}}
	{{- end -}}
	<script type="application/ld+json">
	{{ dict "@context" "https://schema.org" "@graph" $graph | jsonify | safeJS }}
	</script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@800&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/comic-mono@0.0.1/index.css" rel="stylesheet">

	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}?v={{ now.Unix }}">
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}

	<link href="https://uwyn.net/@glaforge" rel="me">
</head>
<body>
	{{ partial "header" . }}
	<img src="https://pixstat-adh43sr7ba-ew.a.run.app/transparent.gif" class="transparent" referrerpolicy="no-referrer-when-downgrade">
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
</body>
</html>
