<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	{{ if .Params.image }}
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:image" content="{{ .Params.image | absURL }}"/>
	<meta name="og:image" content="{{ .Params.image | absURL }}"/>
	{{ else }}
	<meta name="twitter:card" content="summary"/>
	{{ end }}
	<meta name="twitter:title" content="{{ .Title }}"/>
	<meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else if .IsPage }}{{ .Summary | plainify | truncate 160 }}{{ else }}{{ .Site.Params.description }}{{ end }}"/>
	<meta name="twitter:site" content="@glaforge"/>

	<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
	<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else if .IsPage }}{{ .Summary | plainify | truncate 160 }}{{ else }}{{ .Site.Params.description }}{{ end }}">
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}

	<link rel="canonical" href="{{ if .Params.canonical }}{{ .Params.canonical }}{{ else }}{{ .Permalink }}{{ end }}">

	{{ if .IsPage }}
	<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "BlogPosting",
		"headline": "{{ .Title }}",
		"image": "{{ if .Params.image }}{{ .Params.image | absURL }}{{ end }}",
		"url": "{{ .Permalink }}",
		"datePublished": "{{ .Date.Format "2006-01-02T15:04:05-07:00" }}",
		{{ if not .Lastmod.IsZero }}"dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}",{{ end }}
		"author": {
			"@type": "Person",
			"name": "{{ .Site.Params.author | default .Site.Title }}"
		},
		"description": "{{ if .Description }}{{ .Description }}{{ else }}{{ .Summary | plainify | truncate 160 }}{{ end }}"
	}
	</script>
	{{ end }}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@800&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/comic-mono@0.0.1/index.css" rel="stylesheet">

	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}?v={{ now.Unix }}">
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}

	<link href="https://uwyn.net/@glaforge" rel="me">
</head>
<body>
	{{ partial "header" . }}
	<img src="https://pixstat-adh43sr7ba-ew.a.run.app/transparent.gif" class="transparent" referrerpolicy="no-referrer-when-downgrade">
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
</body>
</html>
