{{ define "main" }}
	<main >
		<article>
			<h1>{{ .Title }}</h1>
			{{ if eq .Type "posts" }}
			<time datetime="{{ .Date.Format "2006-01-02T" }}">📅 {{ .Date.Format "January 2, 2006" }} &mdash; by {{ .Site.Title }}</time>
			{{ end }}
			<div class="tags">
				{{ range .Params.tags }}
				<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
				{{ end }}
				</div>
			<div>
				{{ .Content }}
			</div>
			{{ with .Site.DisqusShortname }}
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
			{{ end }}
		</article>
	</main>
{{ partial "sidebar.html" . }}
{{ end }}
