{{ define "main" }}
	<main
	>
		<article>
			<h1>{{ .Title }}</h1>
			{{ if ne .Title "About"}}
			<time datetime="{{ .Date.Format "2006-01-02T" }}">📅 {{ .Date.Format "January 2, 2006" }} &mdash; by {{ .Site.Title }}</time>
			{{ end }}
			<div class="tags">
				{{ range .Params.tags }}
				<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
				{{ end }}
			</div>
			{{ with .Params.Canonical }}
			<div class="canonical">
				Originally published at: <br>
				<a href="{{ . }}">{{ . }}</a>
			</div>
			{{ end }}
			{{ with .Params.image }}
			{{- $id := . | md5 -}}
			{{- $caption := $.Params.caption -}}
			<figure>
				<a href="#img-{{ $id }}">
					<img src="{{ . }}"/>
				</a>
				{{ with $caption }}<figcaption>{{ . }}</figcaption>{{ end }}
			</figure>
			<div class="lightbox" id="img-{{ $id }}">
				<a href="#_" class="lightbox-overlay"></a>
				<img src="{{ . }}"/>
				{{ with $caption }}<div class="lightbox-caption">{{ . }}</div>{{ end }}
			</div>
			{{ end }}
			<div>
				{{ .Content }}
			</div>
			{{ if ne .Title "About"}}
			{{ partial "related.html" . }}
			{{ partial "prevnext.html" . }}
			{{ end }}
		</article>
	</main>
{{ partial "sidebar.html" . }}
{{ end }}
