{{- $id := .Destination | md5 -}}
{{- $caption := .Title | default .Text -}}
<figure>
  <a href="#img-{{ $id }}">
    <img src="{{ .Destination | safeURL }}"
      alt="{{ .Text }}"
      {{ with .Title}} title="{{ . }}"{{ end }} />
  </a>
  <figcaption>{{ $caption | safeHTML }}</figcaption>
</figure>
<div class="lightbox" id="img-{{ $id }}">
  <a href="#_" class="lightbox-overlay"></a>
  <img src="{{ .Destination | safeURL }}"
    alt="{{ .Text }}"
    {{ with .Title}} title="{{ . }}"{{ end }} />
  <div class="lightbox-caption">{{ $caption | safeHTML }}</div>
</div>
